<%- include("../partials/header.ejs") %>

<h2>Sign Up</h2>
<form action="/auth/register" method="POST">
	<fieldset>
		<label for="username">Username: </label>
		<input type="text" name="username" id="username-input">
	</fieldset>
	<fieldset>
		<label for="email">Email: </label>
		<input type="text" name="email" id="email-input">
	</fieldset>
	<fieldset>
		<label for="password">Password: </label>
		<input type="password" name="password" id="password-input">
	</fieldset>
	<fieldset>
		<label for="verify-password">Verify Password: </label>
		<input type="password" name="verifyPassword" id="verify-password">
	</fieldset>
	<button>Register</button>
</form>

<%- include("../partials/footer.ejs")%>