<!DOCTYPE html>
<html lang="en-US">
<head>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Righteous&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>Instaclone<%= title %></title>
</head>
<body>
	<header>
		<h1>Instaclone</h1>
		<nav>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="#">Photos</a>
				</li>
				<li>
					<a href="#">Friends</a>
				</li>
				<% if (currentUser) { %>
					<li>
						<a href="#">Sign Out</a>
					</li>
				<% } else { %>
					<li>
						<a href="/auth/register">Sign Up</a>
					</li>
					<li>
						<a href="#">Sign In</a>
					</li>
				<% } %>
			</ul>
		</nav>
	</header>