<%- include("../partials/header.ejs") %>

<form>
	<fieldset>
		<label for="image">Select Photo:</label>
		<input type="file" name="image" id="image">
	</fieldset>
	<fieldset>
		<label for="caption">Caption:</label>
		<textarea type="text" name="caption" id="caption" rows="4"></textarea>
	</fieldset>
	<button>Add Photo</button>
</form>

<%- include("../partials/footer.ejs") %>